<style>
       th{
            padding: 15px;
            font-size: 20px;
        }
           #h{

            font-size: 30px;
            color: #A50890;
            font-style: bold;
           }
           img{
            width: 100px;
            height: 100px;
             }
             table{
                width: 500px;
                height: 400px;
             }
             #table1{
                background-color: #a9a9a9;
            }
             input[type=text], input[type=password] {
             width: 100%;
             padding: 12px 20px;
             margin: 8px 0;
             display: inline-block;
             border: 1px solid #ccc;
             box-sizing: border-box;
         }
            input[type=button] {
                background-color: #04AA6D;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
            }
  	</style>